<div class="column">
  <div class="column__header">
    <span class="column__title">{{ column().title }}</span>
    <div class="column__meta">
      <span class="column__count">{{ column().tasks.length }}</span>
    </div>
  </div>

  <div
    cdkDropList
    [id]="column().id"
    [cdkDropListData]="column().tasks"
    [cdkDropListConnectedTo]="connectedTo()"
    class="column__list"
    (cdkDropListDropped)="taskDrop.emit($event)">
    
    @if (column().tasks.length === 0) {
      <div class="column__empty">
        <p>No tasks yet</p>
      </div>
    }

     @for (task of column().tasks; track task.id) {
      <div cdkDrag>
        <app-task-card
        [task]="task"
        (taskDelete)="deleteTask.emit($event)"
        (taskEdit)="editTask.emit($event)" />
        <div *cdkDragPlaceholder class="drag-placeholder"></div>
      </div>
    }
  </div>

  <button class="column__add" (click)="addBoardColumnComponentClick()">
    + Add a card
  </button>
</div>